.form-container{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  .left-side-container{
    width: 50%;
    border-right: 1px solid beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fields{
    width: 80%;
  }
  
  .input-fields{
    width: 100%;
  }
  
  .right-side-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  