*{
    margin-bottom: 30px;
}
.container{
    margin-bottom: 5rem;
}

.title{
    text-align: center;
    margin: 10px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Quicksand', sans-serif;
}

.element{
    font-weight: bold;
}

.example-form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-mat-autocomplete{
    display: flex;
    width: 60%;
    margin: 0 auto;
    border: 1px solid gainsboro;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.buttoner-form button{
    margin:10px;
}

.container-crud{
    display: flex;
    width: 60%;
    margin: 0 auto;
    border: 1px solid gainsboro;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-crud{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.texto-crud{
    padding: 10px;
    height: 200px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Quicksand', sans-serif;
    resize: none;
}

.buttonera{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 80%;
    padding: 15px;
}

.container-second{
    margin: 0 auto;
}

.second-section-crud{
    margin: 30px;
    width: 50%;
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-crud{
    padding: 10px;
    margin: 0 auto;
    width: 90%;
}

.header-crud{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 1250px){
    .container-crud{
        display: flex;
        flex-direction: column;
    }

    .form-crud{
        width: 80%;
    }

    .second-section-crud{
        width: 80%;
    }
}