<!-- Imágen -->
<div class="intro-image">
    <img src="https://png.pngtree.com/thumb_back/fw800/background/20201019/pngtree-background-aesthetic-technology-in-dark-purple-image_424350.jpg">
    <div class="text-introduction">
        <h2>Tecnología</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatibus nihil, quia veniam, assumenda atque ad saepe 
            eaque adipisci impedit ratione laborum nesciunt harum, facilis dolorem aliquam architecto voluptas asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis corrupti cumque pariatur at libero, ipsa atque iure nemo illo. At delectus corporis molestiae earum explicabo. Accusantium, rem excepturi? Eum, ipsum!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque iure corporis cumque at recusandae fugiat impedit expedita pariatur doloribus. Excepturi et, doloremque molestiae numquam fugiat ullam tempora quidem ipsam minima?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque voluptates quo vitae veniam nesciunt blanditiis nemo sint iste in dicta aut ratione illum sit tempore cumque, quidem dolorem architecto! Ex?</p>
    </div>
</div>

<div class="container">
    <!-- Texto -->
        
        <div class="text-innovation">
            <p>Los seres humanos, luego de alcanzar el uso de la razón, pasamos
                gran parte de nuestras vidas comprando y vendiendo. 
                Si lo que ingresamos por ventas es superior al importe de lo que compramos, el
                superávit es patrimonio y origen de la riqueza y el bienestar de los
                pueblos. 
                Considero la contabilidad marginal como el mejor método contable para las pymes. En el libro abundan los ejemplos sobre la información interna que proporciona la contabilidad marginal. Con
                esta forma de llevar las cuentas y hacer los cálculos sobre la situación, la dirección puede disfrutar viendo cómo las principales variables del negocio: costes, márgenes, ventas y resultados, responden a
                los estímulos de sus decisiones tomadas a la luz de los informes que
                le proporcionan la mejor carta de navegación, que es la cuenta de explotación de la empresa y el balance general de situación financiera.
            </p>
    </div>
    <img src="https://img.freepik.com/vector-premium/innovacion-empresarial-nuevas-ideas-tecnologia-creatividad-sobre-fondo-efecto-azul-brillante_618588-594.jpg?w=2000" alt="">
</div>
