
<div class="container">
    <h1 class="title">Pruebas de angular material</h1>
    <div class="container-mat-autocomplete">
        <h3 class="element">Mat-Autocomplete</h3>
        <form class="example-form" [formGroup]="formularioAutocomplete">
            <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Provincias</mat-label>
            <input 
                    #provinciaInput
                    type="text"
                    placeholder="Selecciona"
                    aria-label="Number"
                    matInput
                    formControlName="Provincia"
                    [matAutocomplete]="auto"
                   >
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" >
                <mat-option *ngFor="let value of filteredValues | async" [value]="value">
                {{value.id}} - {{value.nombre}}
                </mat-option>
            </mat-autocomplete>
            </mat-form-field>
        <div class="buttoner-form">
            <button mat-stroked-button (click)="verFormulario()" type="submit">Enviar</button> 
            <button mat-stroked-button (click)="abrirDetalles('matAutocomplete')">Ver detalles</button>
        </div>
        <p *ngIf="consulted"> Visualiza los datos enviados en la consola</p>
        </form>
    </div>


    <h1 class="title">Angular Crud</h1>
    <div class="container-crud">
        <form class="form-crud"[formGroup]="formularioCrud">
            <mat-form-field appearance="outline">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fecha" [min]="minDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <div style="color: tomato" *ngIf="formularioCrud.controls['fecha'].invalid && formularioCrud.controls['fecha'].touched">
                <p>Error en campo "Fecha"</p>
              </div>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Título</mat-label>
                <input matInput formControlName="titulo">
              </mat-form-field>
              <textarea type="text" class="texto-crud" formControlName="descripcion"></textarea>

              <div class="buttonera">
                <button mat-stroked-button type="button" (click)="LimpiarFormulario()">Resetear</button>
                <button mat-stroked-button type="submit" (click)="EnviarFormulario()" [disabled]="formularioCrud.invalid">Cargar datos</button>
              </div>
        </form>
        <div>
            <div class="second-section-crud" *ngFor="let item of datosCrud" >
                <div class="content-crud">
                    <div class="header-crud">
                        <h4 class="title-container">Titulo: {{item.titulo}}</h4>
                        <h4>Fecha: {{item.fecha}}</h4>
                    </div>
                    <div class="">
                        <p>Descripción: {{item.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>